{{>admin/admin-header}}
<div class="row justify-content-center margin-top-2">
    <div class="col-lg-7">
        <div class="margin-bottom-2">
            <h1><i class="fas fa-unlock-alt"></i> Admin panel</h1>
            <i>Logged in user: {{user.name}}</i><a href="/logout" class="btn btn-light float-right"><i class="fa fa-sign-out-alt"></i> Logout</a>
            <a href="/admin" class="btn btn-light float-right"><i class="fa fa-caret-left"></i> Back</a>
        </div>
        {{#all}}
        {{>admin/edit-swosh}}
        <br/>
        {{/all}}
    </div>
</div>
{{>admin/admin-footer}}
