<!DOCTYPE html>
<html lang="en">
<head>
    <title>Swosh</title>
    {{>head}}
    <script defer src="/js/swosh.js"></script>
</head>
<body class="container">
<div class="row justify-content-center margin-top-2">
    <div class="col-lg-7">
        <h1>Generate Swosh link</h1>
        <div class="card">
            <div class="card-body">
                Fill in the information below to generate a link that you can send to your friends, that when clicked
                opens
                <a href="https://www.getswish.se" target="_blank" rel="noopener">Swish</a> with these values prefilled
                <br>
                <i>Note: the links only work on devices where the Swish app is installed</i>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin-top-1">
    <div class="col-lg-7">
        <form class="margin-top-1">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="phone">Swish number</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                class="fas fa-mobile-android-alt"></i></span></div>
                        <input type="text" class="form-control text-muted" maxlength="15" id="phone"
                               placeholder="1230000000">
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="amount">Amount you want</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fal fa-money-bill-alt"
                                                                                           aria-hidden="true"></i></span>
                        </div>
                        <input type="number" min="1" max="125000" class="form-control" id="amount"
                               placeholder="Amount">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="message">Message</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fal fa-envelope-open-text"
                                                                                           aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" maxlength="50" id="message"
                               placeholder="Message (optional)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label title="The link will stop working after the selected amount of time" for="expire">Expires
                        in</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                class="fal fa-calendar-alt"
                                aria-hidden="true"></i></span></div>
                        <select class="form-control" id="expire">
                            <option value="604800">1 week</option>
                            <option value="15768000">6 month</option>
                            <option value="2628000">1 month</option>
                            <option value="86400">1 day</option>
                            <option value="43200">12 hours</option>
                            <option value="3600">1 hour</option>
                            <option value="1800">30 minutes</option>
                            <option value="600">10 minutes</option>
                            <option value="">Never</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" id="generate-link-btn" class="btn btn-success float-right"><i
                            class="fal fa-link"></i> Give me my link!
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="alert alert-danger error-position hidden" role="alert" id="erroralert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
            <br/>
            <i id="errortxt"></i>
        </div>
        <div class="card hidden" id="cardlinkdiv">
            <h3 class="card-header">Your swosh url</h3>
            <div class="card-block">
                <div class="col-lg-12">
                    <a href="#" id="swoshurl">https://swosh.me/herp</a>
                    <button id="copy-to-clipboard-btn" class="btn btn-secondary margin-left-1" title="Copy to clipboard">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-7">
        <hr>
        <div class="row justify-content-left">
            <div class="col">
                <a href="https://github.com/Edholm/swosh" target="_blank" rel="noopener" class="btn btn-secondary">
                    <span><i class="fab fa-github"></i> Swosh on Github</span>
                </a>
                {{#user}}
                <a href="/admin" class="btn btn-light float-right">
                    <span><i class="fas fa-unlock-alt"></i> Admin</span>
                </a>
                {{/user}}
            </div>
        </div>
    </div>
</div>
</body>
</html>
